*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: poppins;
    background-color: #000538;
}

header {
    background-color: #142850;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-section {
    background-color: #fff;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-section h2 {
    margin-top: 0;
}

.login-section form {
    margin-top: 20px;
}

.login-section label {
    display: block;
    margin-bottom: 10px;
}

.login-section input[type="text"], .login-section input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.login-section input[type="submit"] {
    background-color: #142850;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-section input[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #142850;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

footer li {
    margin-right: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}